body{
}
header {
  padding: 0 !important;
  height: 100px;
  display: flex;
  /*! align-items: center; */
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #eee;
  z-index: 2;
  animation-name: headerS;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes headerS{
  0%{
    opacity: 1;
    transform: translatey(0%);
  }
  100%{
    opacity: 0;
    transform: translatey(-100%);
  }
}

header .wrap {
  width: 1080px;
  align-items: center;
}
header .wrap h1 {

}
header .wrap h1 a {
  font-size: 0;
  background-image: url(../img/logo.png);
  width: 165px;
  height: 20px;
  display: flex;
  margin-left: 10px;
}
header .wrap h1 span {

}
header .wrap ul.gnb {
  transform: translateX(-100%);
  height: 100%;
  align-items: center;
}
header .wrap ul.gnb li {
    align-items: center;
    height: 100%;
}

header .wrap ul.gnb li a{
  
  padding: 0 20px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
}

header .wrap ul.gnb li a:hover {
  color: #009aff;
  border-bottom: 1px solid;}

header .wrap ul li {
  align-items: center;
  /*! height: 100%; */
}
header .wrap ul li:hover {
  
}

header .wrap .sublist{
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  padding: 40px 0 70px;
  background-color: #eee;
  display: grid;
  grid-template-columns: calc((100% - 1080px) / 2) 313px auto;
  display: none;
}

header .wrap .sublist h2{height: 100%;}

header .wrap .sublist ul{grid-column: 3;}

header .wrap .sublist ul li{}

header .wrap .sublist ul li a{line-height: 1.7;display: block;}

header .wrap ul.lang{
  gap: 10px;
  align-items: center;
}

header div.wrap ul.lang li:nth-child(1) a{  
}

header div.wrap ul.lang li a{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header div.wrap ul.lang li:nth-child(3) {
 
  height: 24px;
  display: block;
  
  font-size: 0;
}
header div.wrap ul.lang li:nth-child(3) a{
  padding:0;
  font-size: 0;
  width:24px;
  height: 24px;
  background-image: url(../img/customcenter.svg);
  background-repeat: no-repeat;
  background-size: 93%;
  align-items: center;
  display: flex;
}

header div.wrap ul.lang li:nth-child(3) a::after{
  content:"고객센터";
  font-size: 11px;
  display: block;
  width: max-content;
  margin-top: 28px;
  background-color: #d8d8d8;
  padding: 3px;
  border-radius: 7px;
  display: none;
}
header div.wrap ul.lang li:nth-child(3) a:hover::after{
  display: initial;
  animation-name:fade; /*애니메이션 이름*/
  animation-duration:1s; /*애니메이션 시간(초)*/
}
@keyframes fade{ /*fade이름의 애니메이션 설정*/
  0%{ /* 처음 */
    opacity: 0; /* 투명도 */
    transform:translateY(30%);
  }
  100%{ /* 마지막 */
    opacity: 1;
    transform:translateY(0%);
  }
}

.show{
  display: grid !important;
}

