section#mission {

  background-color: #009bfa;
  position: relative;
  overflow: hidden;
}
section#mission::before{
  content:"";
  display: block;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  bottom: -350px;
  left: calc(50% - 350px);
}



section#mission .wrap {

  padding-top: 150px;
  box-sizing: border-box;
}

section#mission .wrap::before {
  content:"";
  display: block;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  bottom: -140px;
  left: calc(50% - 140px);
}

section#mission .wrap>*{
  
}
section#mission .wrap h2{
  
}
section#mission .wrap p{
  
}
section#mission::after{
  content:"";
  display: block;
  width: 490px;
  height: 490px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  bottom: -245px;
  left: calc(50% - 245px);
}  

section#mission .wrap h2.h2 span.block {

}
