div#title {
  height: 100%;
  min-height: 800px;
  position: relative;
  padding-top: 200px;
  box-sizing: border-box;
  overflow: hidden;
}
div#title::before{
content:"";
width: 52%;
height: 280px;
display: block;
position: absolute;
left: 0;
bottom:0;
background-color: #32aefa;
border-radius: 0 140px 0 0;
  animation-name: barL;
  animation-duration: 1s;
  animation-direction: reverse; 
  animation-timing-function: ease-in;
}
@keyframes barL{
  0%{
    opacity: 1;
    transform: translatex(0%);
  }
  100%{
    opacity: 0;
    transform: translatex(-100%);
  }
}

#title>a{
  
}
#title>a::before{
  content:"";
  background-image: url(../img/ob2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
  width: 244px;
  height: 354px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 52%;
  z-index: 1;
  animation-name:mobile_R;
  animation-duration: 1s;
  animation-direction:reverse;
  animation-timing-function: ease-in;
  animation-delay:1s;
  transform: translateY(100%);
  animation-fill-mode: forwards;
  
}
    
@keyframes mobile_R{
  from{
       transform:translatey(0);
  }
  to{
    transform:translatey(100%);
  }
}
div#title .wrap {
  animation-name: titleT;
  animation-duration: 1s;
  animation-direction:reverse;
  animation-timing-function: ease-in;
}
@keyframes titleT{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(80%);
  }
}
div#title .wrap h2{
}
div#title .wrap p {
  font-size: 18px;
}
div#title::after{
content:"";
width: 52%;
height: 280px;
display: block;
position: absolute;
right: 0;
bottom:0;
background-color: #3356b0;
border-radius: 140px 0 0 0;
  animation-name: barR;
  animation-duration: 1s;
    animation-direction: reverse;
  animation-timing-function: ease-in;
}

@keyframes barR{
  0%{
    transform: translatex(0%);
  }
  100%{
    transform: translatex(100%);
  }